@model ProjektSklep.Models.PageConfiguration

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PageConfiguration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendingNewsletter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendingNewsletter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowNetPrices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowNetPrices)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsPerPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductsPerPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterfaceSkin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterfaceSkin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PageConfigurationID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
