@model ProjektSklep.Models.PageConfiguration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PageConfiguration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendingNewsletter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendingNewsletter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowNetPrices)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowNetPrices)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductsPerPage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductsPerPage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InterfaceSkin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InterfaceSkin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PageConfigurationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
