
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model ProjektSklep.Models.ShoppingCart
}

@if (Model.ProductList.Count == 0)
{
    <h2>Koszyk pusty, nie można wykonać zamówienia</h2>
}
else
{
    <h2>Zamówiono następujące produkty:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductList.ElementAt(0).Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductList.ElementAt(0).Product.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductList.ElementAt(0).Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductList.ElementAt(0).Sum)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ProductList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        <img src="@Url.Content(item.Product.Image)" style="height: 100px; width: 150px;" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @item.Sum
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <h3>Sposób wysyłki: @ViewBag.ShippingMethod</h3>
    <h3>Sposób płatności: @ViewBag.PaymentMethod</h3>
    <h3>Rabat: @ViewBag.DiscountCode%</h3>
    <h3>Razem do zapłaty (przed rabatem): @ViewBag.CenaBezRabatu</h3>
    <h3>Razem do zapłaty: @Model.CartPrice</h3>
}